body {
  background: whitesmoke;
}
div.angularForm {
  width: 460px;
  top: 115px;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  background: white;
  padding: 50px;
}
h1.ui.header {
  color: #E52A3A;
}
button.ui.button {
  background: #E52A3A;
  color: white;
}
.ng-invalid {
  color: #B15E5D;
}
