<!DOCTYPE html>
<html>
  <head>
    <title>Angular Services</title>
    <meta charset="utf-8">
  </head>
  <body>
    <div ng-app="app">
      <h1>Le Service~</h1>
      <div ng-controller="ListController as list">
        <p ng-repeat="message in list.messages">{{ message.id }}: {{ message.text }}</p>
      </div>
      <div ng-controller="PostController as post">
        <form ng-submit="post.addMessage(post.newMessage)">
          <input type="text" ng-model="post.newMessage">
          <button type="submit">Add Message</button>
        </form>
      </div>
    </div>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
